#canvas_container {
    align-items: center;
}

#canvas {
    border: 1px solid black;
    margin: 0;
    width: 100%;
    height: 100%;
}

.draggable_text {
    font-size: 3em;
}

#text_container {
    max-width: 100%;
    overflow-wrap: anywhere;
    user-select: none;
}

#feedback {
    font-size: 60px;
}